<form class="l5r5e help-dialog" autocomplete="off">
    <p>{{localize 'l5r5e.logo.content'}}</p>

    <button name="edge" data-type="edge"><i class="fas fa-check"></i> {{localize 'l5r5e.logo.edge.title'}}</button>

    <button name="drivethrurpg" data-type="drivethrurpg"><i class="fas fa-check"></i> {{localize 'l5r5e.logo.drivethrurpg.title'}}</button>

    <button name="discord" data-type="discord"><i class="fas fa-check"></i> {{localize 'l5r5e.logo.discord.title'}}</button>

</form>
