<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}"/>
        <h1 class="charname"><input name="name" type="text" value="{{data.name}}" placeholder="Name"/></h1>
    </header>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Attributes Tab --}}
        <article class="attributes" data-group="primary" data-tab="attributes">
            <select name="system.advancement_type" id="advancement_type">
                {{selectOptions data.subTypesList selected=data.system.advancement_type valueAttr='id' labelAttr='label' localize=true}}
            </select>

            {{#ifCond data.system.advancement_type '==' 'ring'}}
            <select name="system.ring" id="advancement_ring">
                {{selectOptions data.ringsList selected=data.system.ring valueAttr='id' labelAttr='label'}}
            </select>
            {{/ifCond}}

            {{#ifCond data.system.advancement_type '==' 'skill'}}
            <select name="system.skill" id="advancement_skill">
                <option value="">{{localize 'l5r5e.twenty_questions.choose_one_skill'}}</option>
                    {{#each data.skillsList as |skills catId|}}
                    <optgroup label="{{localizeSkill catId 'title'}}">
                        {{selectOptions skills selected=../data.system.skill valueAttr='id' labelAttr='label'}}
                    </optgroup>
                    {{/each}}
            </select>
            {{/ifCond}}
            <label class="cursus attribute-value checkbox">
                <input type="checkbox" name="system.in_curriculum" {{checked data.system.in_curriculum}} />
                {{localize 'l5r5e.advancements.curriculum'}}
            </label>
            <label class="attribute">
                {{localize 'l5r5e.advancements.spent'}}
                <input class="select-on-focus" type="number" name="system.xp_used" value="{{data.system.xp_used}}" data-dtype="Number" min="0" placeholder="0"/>
            </label>
            <label class="attribute">
                {{localize 'l5r5e.sheets.rank'}}
                <input class="select-on-focus" type="number" name="system.rank" value="{{data.system.rank}}" data-dtype="Number" min="0" placeholder="0"/>
            </label>
            <label class="attribute">
                {{localize 'l5r5e.sheets.bought_at_rank'}}
                <input class="select-on-focus" type="number" name="system.bought_at_rank" value="{{data.system.bought_at_rank}}" data-dtype="Number" min="0" placeholder="0"/>
            </label>
        </article>
        {{> 'systems/l5r5e/templates/items/item/item-infos.html'}}
    </section>
</form>